/* @font-face {
    font-family: gilroy;
    src: url(./public/fonts/Gilroy-Regular.ttf)format("truetype");
} */

* {
    padding: 0;
    margin: 0;
    color: #999;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #111;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #242424;
}

::-webkit-scrollbar-thumb {
    background: #0d0f11;
}

::-webkit-scrollbar-thumb:hover {
    background: #0e1011;
}


#main {
    min-height: 100%;
    width: 100%;
}

.slide {
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(15, 18, 21); */
    background-color: #121212;
    overflow-x: hidden;
}


nav {
    position: fixed;
    width: calc(100% - 4vw);
    z-index: 10;
    top: 13px;
    background-color: #ae8e35;
    height: 75px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    /* border-bottom: #000 1px solid; */
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(25, 25, 25) 5px solid;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 12px;
}

.bm {
    height: 25px;
}

#navcont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ulflex {
    display: flex;
    list-style-type: none;
    align-items: center;
}

#ulflex li,
#ulflex li a,#ulflex li s {
    cursor: pointer;
    padding-right: 22px;
    font-weight: 600;
    font-size: 17px;
    color: #111;
}

a {
    text-decoration: none;
}

li button {
    background-color: #000;
    color: #fff;
    padding: 8px 14px;
    margin-left: 5px;
    border-radius: 20px;
    font-weight: 500;
}

#hero {
    height: 65vh;
    background-color: #ae8e35;
    position: relative;
    overflow: hidden;
    margin-top: 90px;
    border: rgb(25, 25, 25) 8px solid;
    border-radius: 12px;
    margin-bottom: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

#heroright {
    width: 129vh;
    height: 90vh;
    font-size: 22px;
    position: absolute;
    left: 56%;
    top: 70%;
    transform: translate(0%, -50%);
    overflow: hidden;
}

#heroleft {
    width: 56%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* padding: 4vmin 0 0 3.5vmin ; */
}

#heroleft h1 {
    color: #000;
    font-size: 7.5vmax;
    font-family: Georgia;
    font-weight: 500;
    margin-bottom: 6vh;
}

#heroleft h6 {
    color: #000;
    font-size: 1.5vmax;
    width: 65%;
    font-weight: 550;
    margin-bottom: 6vh;
}

#hero button {
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 70px;
    font-weight: 500;
    font-size: 20px;
}

.home-bottom {
    padding: 0 2vw;
}

#homeblog {
    width: 70%;
    min-height: 30vh;
    background-color: #5e5b5b;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vh 0;
    gap: 5vh;
}

#home-card {
    width: 85%;
    height: 200px;
    background-color: #111;
    padding: 20px;
}

button {
    cursor: pointer;
}

.thicklink {
    font-weight: 700;
    text-decoration: underline;
    margin-left: 5px;
}


























#profile {
    min-height: 100vh;
    width: 100%;
    padding: 8vh 5vw 10vh 5vw;
    /* background-color: #fff; */
}

#profileimg {
    height: 18vmax;
    width: 18vmax;
    border-radius: 5%;
    border: rgb(27, 27, 27) 10px solid;
    margin-right: 4vw;
}

#profiledets {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 3.5vmin;
    background-color: #232323;
    position: relative;
    padding: 20px 20px;
    border-radius: 10px;
    border: rgb(25, 25, 25) 8px solid;
    box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    -webkit-box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    -moz-box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
}

#profiledetsright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex;
    padding-bottom: 20px;
}

.signoutbtn {
    border-radius: 10px;
    border: rgb(25, 25, 25) 8px solid;
}

.signoutbtncontainer {

    position: absolute;
    top: calc(100% + 3.5vh);
    right: 0%;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.pbelow {
    justify-content: space-between;
    gap: 2vw;
    width: 100%;
}

.signout-btn {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-signout {
    width: 75%;
}

/* .signout-btn{

} */

#profiledets h1 {
    font-size: 5.5vmax;
    /* line-height: 4.5vmax; */
    letter-spacing: 0.2vmax;
    margin: 10px 0 10px 0;
}

#profileblog h2 {
    margin-bottom: 0vh;
    font-size: 30px;
    width: 85%;
    line-height: 15px;
}

.upper {
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: underline;

}

.darkyellow {
    color: #967a2c;
    text-decoration: underline;

}

.profile-btn {
    background-color: #303232;
    color: #000000;
    padding: 8px 30px;
    border-radius: 10px;
    border: 3.5px solid rgb(25, 25, 25);
    font-weight: 700;
    font-size: 20px;
    box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.91) inset;
    -webkit-box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.91) inset;
    -moz-box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.91) inset;
}

#profileblog {
    width: 60%;
    min-height: 30vh;
    background-color: #232323;
    border-radius: 10px;
    border: rgb(25, 25, 25) 8px solid;
    box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    -webkit-box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    -moz-box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vh 0 7vh 0;
    gap: 5vh;
    margin-bottom: 20px;
}

.editor-section {
    width: calc(40% - 20px);
    margin-left: 20px;
}

#create-h5 {
    font-size: 30px;
    margin-bottom: 10px;
    background-color: #232323;
    border-radius: 10px;
    padding: 5px 7px 5px 15px;
    border: rgb(25, 25, 25) 6px solid;
    box-shadow: 1px 1px 35px 0px rgba(0, 0, 0, 0.81) inset;
    -webkit-box-shadow: 1px 1px 35px 0px rgba(0, 0, 0, 0.81) inset;
    -moz-box-shadow: 1px 1px 35px 0px rgba(0, 0, 0, 0.81) inset;
    color: #999999b0;
}

#getquoteparent {
    width: 40%;
    margin-left: 30px;
}

#getquote {
    padding: 10px 20px 20px 20px;
    background-color: #232323;
    border-radius: 10px;
    border: rgb(25, 25, 25) 8px solid;
    box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    -webkit-box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    -moz-box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    position: relative;
}

.quote-refresh {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 3vmax;
    cursor: pointer;
}

#getquote h1 {
    margin-bottom: 15px;
    font-size: 3.5vmax;
}

#getquote h2 {
    font-size: 2vmax;
}

#getquote h3 {
    font-size: 1.7vmax;
    text-align: end;
    margin-top: 10px;
    padding-right: 5px;
}

.highlightcolor {
    color: #AE8E35;
}

.editor-div {
    padding: 5px 0px 5px 20px;
    height: 55vh;
    width: 100%;
    background-color: #232323;
    border-radius: 18px;
    border: rgb(25, 25, 25) 8px solid;
    box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    -webkit-box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;
    -moz-box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.81) inset;

    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

#editorbtns {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.save-clear {
    padding-left: 60px;
    padding-right: 60px;
}

#profileblog section {
    text-align: end;
}

#profileblog section i {
    font-size: 20px;
    background-color: #111111;
    padding: 0px 15px 7px 15px;
    border-radius: 0 0 4px 4px;
    font-weight: 600;
    display: inline-block;
    color: #6b6b6b;
    cursor: pointer;
}

#profile-card-parent {
    width: 85%;
}



#profile-card {
    height: 200px;
    background-color: #111;
    padding: 20px;
    border-radius: 10px 10px 0 10px;
    overflow-y: scroll;
    position: relative;
}

#profile-card img {
    width: 200px;
    height: 85%;
    object-fit: cover;
    border: 5px solid #555;
    border-radius: 4px;
    margin-top: 5px;
}

#profile-card::-webkit-scrollbar {
    width: 4px;
}

#profile-card::-webkit-scrollbar-track {
    background: #111111;
}

#profile-card::-webkit-scrollbar-thumb {
    background: #363636;
}

#profile-card::-webkit-scrollbar-thumb:hover {
    background: #0e1011;
}